<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.mapper.BlogMapper">
    <insert id="addBlog" parameterType="Blog" >
        insert into mybatis.blog(ID, TITLE, AUTHOR, CREATE_TIME, VIEWS) VALUES (#{id},#{title},#{author},#{createtime},#{views})
    </insert>
    <sql id="IF-Blog">
        <if test="title != null">
            and title = #{title}
        </if>
        <if test="author != null">
            and author = #{author}
        </if>
        <if test="views != null">
            and views = #{views}
        </if>
    </sql>
    <select id="queryBlogIF" parameterType="map" resultType="Blog">
        select * from mybatis.blog
        <where>
            <include refid="IF-Blog"></include>
        </where>
    </select>
    <select id="queryBlogChoose" parameterType="map" resultType="Blog">
        select * from mybatis.blog
        <where>
            <choose>
                <when test="title != null">
                    and title like "%"#{title}"%"
                </when>
                <when test="views != null">
                    and views = #{views}
                </when>
                <otherwise>
                    and views=1000
                </otherwise>
            </choose>
        </where>
    </select>
    <select id="queryBlogForEach" parameterType="map" resultType="Blog">
        select * from mybatis.blog
        <where>
            <foreach collection="ids" item="id" open=" and (" close=")" separator="or">
                id = #{id}
            </foreach>
        </where>
    </select>
    <update id="updateBlog" parameterType="map">
        update mybatis.blog
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="author != null">
                author = #{author},
            </if>
            <if test="views != null">
                views = #{views},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>