<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.mapper.BillMapper">
    <insert id="add" parameterType="Bill">
        insert into smbms.smbms_bill(ID, BILLCODE, PRODUCTNAME, PRODUCTDESC, PRODUCTUNIT, PRODUCTCOUNT, TOTALPRICE, ISPAYMENT,
        CREATEDBY, CREATIONDATE, MODIFYBY, MODIFYDATE, PROVIDERID) values(#{id},#{billCode},#{productName},#{productDesc},#{productUnit},
        #{productCount}, #{totalPrice},#{isPayment},#{createdBy},#{creationDate},#{modifyBy},#{modifyDate},#{providerId});
    </insert>
    <update id="modify" parameterType="Bill">
        update smbms.smbms_bill
        <set>
            <if test="productName != null ">
                productName = #{productName},
            </if>
            <if test="productDesc != null ">
                productDesc = #{productDesc},
            </if>
            <if test="productUnit != null ">
                productUnit = #{productUnit},
            </if>
            <if test="totalPrice != null ">
                totalPrice = #{totalPrice},
            </if>
            <if test="isPayment != null ">
                isPayment = #{isPayment},
            </if>
            <if test="productCount != null ">
                productCount = #{productCount},
            </if>
            <if test="modifyBy != null ">
                modifyBy = #{modifyBy},
            </if>
            <if test="modifyDate != null ">
                modifyDate = #{modifyDate},
            </if>
        </set>
        where id = #{id};
    </update>
    <delete id="deleteBillById" parameterType="String">
        delete from smbms.smbms_bill where id = #{id};
    </delete>
    <select id="getBillList" parameterType="Bill" resultType="Bill">
        select * from smbms.smbms_bill
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="productName != null">
                and productName like "%"#{productName}"%"
            </if>
            <if test="productDesc != null">
                and  productDesc like concat('%',#{productDesc},'%')
            </if>
            <if test="productUnit != null">
                and productUnit like "%"#{productUnit}"%"
            </if>
            <if test="productCount != null">
                and productCount like "%"#{productCount}"%"
            </if>
            <if test="billCode != null">
                and billCode = #{billCode}
            </if>
            <if test="totalPrice != null">
                and totalPrice = #{totalPrice}
            </if>
            <if test="isPayment != null">
                and isPayment = #{isPayment}
            </if>
        </where>
    </select>
    <select id="getBillById" parameterType="String" resultType="Bill">
        select * from smbms.smbms_bill where id = #{id};
    </select>
    <select id="getBillCountByProviderId" parameterType="String" resultType="int">
        select count(*) from smbms.smbms_bill where providerId = #{providerId};
    </select>
</mapper>